p {
	font-size: 20px;
	text-decoration: line-through;
}

li.inline {
	font-weight: bold;
	text-transform: uppercase;
	color: green;

}

/*nested css*/
/*ul#languages*/
ul[da='tech']  {
	li:last-child {
		color: red;
	}

	li:first-child {
		color: greenyellow;
	}
}

