.title{
	color: green;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

div[class^='block']{
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
}

.block-1{
	background-image: linear-gradient(45deg,yellow,blue);
}

.block-2{
	background-image: radial-gradient(circle,yellow,blue);
}

.block-3{
	background-image: linear-gradient(135deg, 
		orange 0%,
		orange 50%,
		#207cca 51%,
		#7db9e8 100%);
	border: 2px dashed skyblue;
	border-radius: 50px 10px 5px 0px;
	opacity: 0.6;
}

.block-4{
	background-image: linear-gradient(135deg, 
		orange 0%,
		blue 51%,
		blue 80%,
		black 81%,
		black 100%); 
	border-radius: 50%;
}

.block-5{
	background-color: #a34d77;
	box-shadow: 10px 10px 5px 2px grey;
}

.text-major {
	color: blueviolet;
	text-decoration: line-through;
}

.lorem2 {
	line-height: 24px;
}

.simple-block {
	width: 44px;
	height: 44px;

	border: 1px solid black;
	text-align: center;
	line-height: 44px;
	border-radius: 50%;
}

.random {
	width: 112px;
	white-space: nowrap;
	overflow: hidden; /*áp dụng cho mọi element*/
	text-overflow: ellipsis;
}