.block{
	width: 120px;
	height: 120px;
}
.block-pink {
	background: pink;
}
.block-blue {
	background: blue;
}
.block-red {
	background: red;
}
.block-yellow {
	background: yellow;
}
.block-green {
	background: green;

.container{
	.block {
		float: left;
	}
}
