body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.column-small {
    flex-basis: 15%;
    margin: 10px 15px;
}

.column-large {
    flex-basis: 70%;
    margin: 10px 5px 0;
}

.image {
    object-fit: cover;
    border-radius: 3%;
}

.image-side {
    height: 260px;
    width: 27rem;
}

.image-side-child {
    height: 109px;
    width: 162px;
}

.image-center {
    height: 487px;
    width: 100%;
    border-radius: 2%;
}

h2 {
    font-size: 18px;
    color: #333;
    font-weight: normal;
}

h4 {
    font-size: 23px;
    color: #555;
    font-weight: bold;
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
}

.margin-side {
    margin: 5px 30px 5px 0;
}

.margin-center {
    margin: 27px 0 10px;
}

.image-block {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.border-bottom {
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
}

.image-block-side-2:nth-last-child(2), 
.image-block-side-2:nth-last-child(3),
.image-block-center-2:first-child {
    border-bottom: 2px solid grey;
}
