* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDD835;
    padding: 10px 140px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 80px;
}

.navbar .navbar-left {
    justify-content: flex-start;
}

.navbar .navbar-right {
    justify-content: flex-end;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    color: #555;
}

.logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.logo img {
    height: 26px;
    width: auto;
    margin-top: 7px;
}

.content {
    display: flex;
    padding: 50px 90px ;
}

.block {
    margin-right: 200px;
}

.block-1 {
    display: flex;
    padding-bottom: 60px;
    margin-right: 86px;
    border-right: black 1px solid;
}

.block-1 h4 {
    padding-bottom: 10px;
}

.block-1 p {
    padding-bottom: 20px;
}

.block-1 span {
    padding-bottom: 10px;
}

.text {
    padding-left: 25px;
}

footer {
    background-color: #FDD835;
    padding: 12px;
    text-align: center;
    color: #000;
    display: flex;
}

footer p {
    margin-left: 70px;
}

.footer-links {
    margin: 2px 347px;
}

.footer-links a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
}   

