.title {
    color: green;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.text-major {
    color: red;
    text-decoration: line-through;
}

.lorem2 {
    line-height: 24px;
}

.simple-block {
    width: 44px;
    height: 44px;
    border: 1px solid black ; 
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
}

.random {
    width: 120px;
    /* Khi nội dung tràn --> ko xuống hàng */
    white-space: nowrap; 
    overflow: hidden; /* áp dụng cho mọi element chứa text hoặc không*/
    text-overflow: ellipsis;
}