.title {
	color: green;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.text-major {
	color: red;
	text-decoration: line-through;
}

.lorem2 {
	line-height: 24px;
}

.simple-block {
	border: 1px solid;
	border-radius: 50%;
	line-height: 50px;
	width: 50px;
	height: 50px;
	text-align: center;
	background-color: #0866FF;
	color: #FFFFFF;
	font-weight: 700;
}

.random {
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}