.block-md {
    width: 180px;
    height: 120px;
    float: left;
}

.block-lg {
    width: 220px;
    height: 140px;
    margin-bottom: 20px;
}

.bg-green {
    background: rgb(0, 255, 0);
}

.bg-orange {
    background: rgb(215, 134, 4);
}

.block-2 {
    clear: left;
}
