.fixed-image {
	width: 300px;
	height: 300px;
}

.block-xs {
	width: 200px;
	height: 180px;
}

.block-md {
	width: 400px;
	height: 220px;
}

.bg-orange {
	background: orange;
}

.bg-blue {
	background: blue;
}

.float-left {
	float: left;
}

.clear-left {
	clear: left;
}