* {
	box-sizing: border-box;
}

.container {
	width: 600px;
/*	height: 380px;*/

	border: 2px solid black;
	margin: 50px auto;

	padding: 40px 40px;
	overflow: hidden;
}

.block-orange {
	width: 180px;
	height: 120px;
	border: 2px solid orange;

	float: left;
/*	margin-right: 20px;*/

	margin-bottom: 20px;
}

.block-green {
	width: 180px;
	height: 120px;
	border: 2px solid green;

	float: left;
/*	margin-left: 20px;

	margin-top: 30px;*/
}

.block-blue {
	width: 180px;
	height: 120px;
	border: 2px solid blue;

	clear: left;
	margin-top: 30px;
}