* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

.page-header {
    height: 66px;
    width: 100%;
    background-color: #000;

    .wrapper {
        margin: 0 auto;
        width: 88%;
        height: 100%;

        .page-logo {
            float: left;
            line-height: 66px;
        }

        .nav {
            float: right;

            li {
                display: inline-block;
                margin-left: 44px;

                a {
                    font-family: corbel;
                    text-decoration: none;
                    line-height: 66px;
                    color: #fff;
                    text-transform: uppercase;
                }

                a:hover {
                    color: red;
                }
            }
        }
    }
}
